:root{
    --var-red:#8B5861;
    --var-blue:#8C94AB;
    --var-dark:#696367;
    --var-yellow:#FCECD5;
    --var-pink:#ECD1D8;
    --var-green:#7E8C75;
    text-align: center;
}
.container{
    max-width: 900px;
}
header{
    max-width: 900px;
    position: relative;
}
h1{height: 1px;width: 1px;overflow: hidden;}
h2{
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
    color:var(--var-green);
}
.left,.right{
    border: none;
    background-color: #fff;
    width: 50px;
    transition: 0.3s;
    position: absolute;
    top:40px;
}
.left:hover,.right:hover{transform: scale(1.3);}
.left{left: 30px;}
.right{right: 30px;}
i{color:#696367;font-size: 36px;}
.row{
    min-width: 600px;
    text-align: center;
}
.col{
    width: 10%;
    height: 30px;
    background-color:#7E8C75;
    color:#F1EBED;
    font-weight: 600;
    box-sizing: border-box;
}
.head-col{line-height: 30px;}
.body-col{
    height: 80px;
    background-color: #B9C4B6;
    transition: 0.1s;
    cursor: pointer;
    padding: 5px 8px;
    overflow: auto;
}
.body-col h2{font-size: 18px;
    margin: 0;
}
.body-col:hover{
    transform: scale(1.05);
    outline: 2px solid var(--var-dark);
}
.othercol{
    height: 80px;
    background-color:#E3E5E4;
    padding: 5px 8px;
}
.selectmonth{
    position: fixed;
    top: 5%;
    right: 10%;
    color: #7E8C75;
    font-size: 40px;
    transition: 0.5s;
}
.selectmonth:hover{
    cursor: pointer;
    transform: scale(1.5);
}
.modal-content{background-color: #B9C4B6;}
.modal-title,.editdate{font-weight: 600; color:var(--var-dark)}
.editdate{display:block;font-size: 18px; margin:  0;}
#inputmonth,#createtime,#createtodo,#edittime,#edittodo{
    background-color: #B9C4B6;
    border: 5px solid #E3E5E4;
    color:var(--var-dark)}
.color-box{
    width: 150px;
}
.color,.colorview{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: 0.3s;
    cursor: pointer;
}
.color:hover{
    box-shadow: 0px 0px 2px 3px #E3E5E4;
    transform: scale(1.2);
}
[selected]{
    border:  2px solid var(--var-dark);
}
#blue{background-color: var(--var-blue);}
#pink{background-color: var(--var-pink); color:#000;} 
#yellow{background-color: var(--var-yellow); color:#000;}
#red{background-color: var(--var-red);}
ul{list-style: none; padding: 0;font-size: 12px;margin: 0;}
li{display: flex; } 
.colortag{
    background-color: #8B5861;
    border-radius: 5px;
    width: 40px;
    margin-right: 5px;
}
.text{
    color:#000;
}


@media screen and (max-width:768px) {
    .head-col{font-size: 12px;}
    .selectmonth{
        right: 20%;
    }
}